button {
	padding: 17px 8px;
	border-radius: 3px;
	cursor: pointer;
	border: none;
}

.plusminus {
    background: $plusminus-button-color;
	color: #F1F1F1;
	margin: 0px 5px 0 0;
	padding: 0px;
	width: 35%;
	height: 25px;
	border-radius: 3px;
	font-size: 1em;
	font-weight: bold;
	float: left;
}

.plusminus:hover {
	background: $plusminus-button-hover-color;
}

#spellbutton {
  background-color: $button-color;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 36px;
  font-size: 0.6em;
  font-weight: bold;
}

.setgetbuttons,
.printbuttons,
.countbuttons {
    background-color: $button-color;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 45px;
    font-size: 0.9em;
    font-weight: bold;
}

.countbuttons:hover,
.setgetbuttons:hover,
.printbuttons:hover,
#spellbutton:hover {
	background: $button-hover-color;
}

#unicorn-button {
	position: absolute;
    border: 1px solid rgb(48, 24, 73);
	color: rgb(48, 24, 73);
    width: 131px;
    text-align: center;
    border-radius: 3px;
    margin: 0;
    padding: 2px 6px;
    font-weight: bold;
    right: 1%;
    top: 1%;
    cursor: pointer;
	@include no-select();
}

#unicorn-button:hover {
	border: 1px solid #fff;
	color: #fff;
}

label.custom-value {
	width: auto;
	background-color: rgb(73, 36, 112);
	color: rgb(245, 245, 245);
	padding: 6px 6px 6px 0px;
	margin: 0 0 0 6px;
	border-radius: 3px;
	font-size: 0.9em;
    cursor: pointer;
	@include no-select();
}

label.green {
	background-color: lightgreen;
	color: black;
}

.saveload-buttons{
	height: 38px;
    padding: 0;
    margin: 0;
    width: 100%;
}

input[type="file"]{
	display: inline;
}

.add-note-button{
	position: absolute;
	line-height: 30px;
}

/*------------------------------------------------*/
/* MOBILE VERSION (PORTRAIT)                      */
/*------------------------------------------------*/

@include media-screen-portrait(){
    button.plusminus {
        background-color: lightgrey;
        border: none;
        margin: 10px 0 0 0;
        padding: 0;
        width: 90px;
        height: 80px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 1.8em;
    }

    button#spellbutton {
      background-color: lightgrey;
      border: none;
      margin: 40px 0px;
      padding: 0;
      width: 100%;
      height: 136px;
      border-radius: 5px;
      font-weight: bold;
      font-size: 1em;
    }

    button.setgetbuttons,
    button.printbuttons,
    button.countbuttons {
        background-color: lightgrey;
        border: none;
        margin: 23px;
        padding: 0;
        width: 370px;
        height: 136px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 1em;
    }

    div#unicorn-button{
        display: none;
    }

    #updateButton, #updateButton2 {
        width:100%;
        margin: 10px 0px 0px 0px;
        font-size: 1.5em;
    }

    label.custom-value {
        background-color: rgb(73, 36, 112);
        color: rgb(245, 245, 245);
        padding: 0px 6px;
        margin: 0px;
        font-size: 0.5em;
    }

    label.green {
        background-color: lightgreen;
        color: black;
    }
}

/*------------------------------------------------*/
/* PRINT VERSION                                  */
/*------------------------------------------------*/

@media print {
    button,
    .tooltip,
    .plusminus,
    #spellbutton,
    label.custom-value,
    div#unicorn-button,
		.saveload-buttons{
        display:none;
    }
}
